body {
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: #eee;
}

#uts-logo{
	height: 45px;
	width: 100px;
	float: left;
}

nav{
	font-size: 1.5em;
}

.navbar-text{
	color: white !important;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}


